@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --accent: #EA918D;
    --accentHover: #DE8A86;
    --dark: #304659;
    --dark80:rgba(48,70,89,0.8);
    --dark60:rgba(48,70,89,0.6);
    --light: #f5f9fc;
    --transition: all 0.3s ease 0s;
}

* {
    box-sizing: boarder-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    max-height: 100%;
    overflow: auto;
    background: linear-gradient(var(--dark60), var(--dark60)),
      url(./images/background-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(1fr, 190px)) minmax(
        60px,
        1fr
      );
    grid-template-rows: 120px 1fr;
  }
  
  p,
  a,
  button {
    font-family: "Lato", sans-serif;
    color: var(--light);
    text-decoration: none;
  }
  
  a,
  button,
  .logo {
    cursor: pointer;
  }
  
  header {
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  
  nav {
    grid-column: 2 / span 6;
    display: flex;
    align-items: center;
  }
  
  main {
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

.links {
    margin-left: auto;
}

.links a, links button {
    font-size: 1.0625rem;
    font-weight: 400;
    transition: var(--transition)
}

.links a {
    margin-right: 50px
}

.links a:hover {
    color: var(--accent);
}

.button_med {
    border: none;
    background-color: var(--accent);
    padding: 8px 25px;
    transition: var(--transition);
    font-size: 1.0625rem;
    font-weight: 400;
}

.button_med:hover {
    background-color: var(--accentHover);
}
  
  .hero_font {
    color: var(--light);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 3.375rem;
  }

.aboutus_page {
  grid-column: 3 / span 4;
  padding: 60px 0;
  background-color: var(--dark80);
  text-align: center;
  align-self: flex-start;
}
  .aboutus_content {
    padding: 40px 40px 40px 40px;
    text-align: center;
  }

.features {
    grid-column: 2 / span 6;
    background-color: var(--dark80);
    padding: 20px 0px 0 20px;
    display: flex;
    flex-wrap: wrap;

    align-self: end;
  }
  
  .feature {
    display: flex;
    margin: 0 40px 20px 0px;
  }
  
  div.elem-group {
    margin: 40px 0;
  }
  
  label {
    display: block;
    font-family: "Lato", sans-serif;
    color: var(--light);
    padding-bottom: 4px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Aleo';
    width: 500px;
    padding: 8px;
  }
  
  textarea {
    height: 250px;
  }
  
  .button_contactform {
    height: 50px;
    background: green;
    color: white;
    border: 2px solid darkgreen;
    font-size: 1.25em;
    font-family: 'Aleo';
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    border: 2px solid black;
  }

  @media only screen and (max-width: 1100px) {
    .icon img {
      height: 55px;
      width: auto;
    }
  
    .icon__top {
      font-size: 1rem;
    }
  
    .icon__bottom {
      font-size: 1.125rem;
    }
  
    .hero__font {
      font-size: 2.1875rem;
    }
  
    .features {
      grid-column: 1 / span 8;
    }
  }
  
  @media only screen and (max-width: 650px) {
    nav .links {
      display: none;
    }
  
    .info {
      grid-column: 2 / span 6;
    }
  
    .icons {
      flex-direction: column;
    }
  
    .icon {
      margin-bottom: 20px;
    }
  
    .feature {
      flex-direction: column;
    }
}